<html>
	<head>
		<link rel=stylesheet type="text/css" href="style.css">
	</head>
	<body>
		<div id="block">
			<!-- Logo -->
			<div class="logo"><img src="images/logo.png"></div>
			<!-- Central Box -->
			<div id="top_block"></div>
			<div id="bg_block">
			
				<div id="box_title">
					<div id="title">Authentication</div>
					<div id="login_combo"><img src="images/login_combo_fail.png"></div>
					<div id="bottom_text">
						<hr>
						Copyright 2009 eLua Builder. Todos os direitos reservado.
					</div>
				</div>
			</div>
			<div id="bottom_block"></div>
		</div>
	</body>
</html>