body{
	background-color: #f2f2f2;font-family:Arial;
}

.logo {
		margin-left: 10px;	float:left;
}



#block {
		width: 890px; 
		position: relative; 
		left: 50%; 
		margin-left: -445px;
		margin-top:15px
}

#box_title {
			background-color: #f2f2f2;
			height:32px;
			width:800px;
			
			padding: 6px 0px 0px 20px;	
			z-index:1000;	
			text-align:left;
			word-spacing: normal;
			color:#000000;
			font-family:"Arial";
			font-size: 20px;
			font-weight: bold;
}

.box_ip {
			text-align:right;
}

.box_dns{
			text-align:right;
			background-color:#ffffff;
			border-color: #ffffff;
}

#tabs {
		width:752px;
}

#box_title_tabs {
					background-color: #f2f2f2;
					height:26px;
					width:715px;
					
					padding:6px 0px 0px -20px;	
					z-index:1000;	
					text-align:left;
					word-spacing: normal;
					color:#000000;
					font-family:"Arial";
					font-size: 16px;
					font-weight: bold;
}

.box_title_build {
					background-color: #f2f2f2;
					height:26px;
					width:780px;
					
					padding:6px 0px 0px -20px;	
					z-index:1000;	
					text-align:left;
					word-spacing: normal;
					color:#000000;
					font-family:"Arial";
					font-size: 16px;
					font-weight: bold;
}

.box_text_build {
						padding-top:4px;
						margin: 0px 0px 10px 20px;												
}

.build_components {
					margin: 0px 0px 10px 20px;
					padding:10px 0px 20px 0px
}

#top_block {
		background-image:url("../images/top_block.png");
		float:left;
		height:10px;
		width:890px;
		margin-top:15px
}

#bg_block {
		background-image:url("../images/bg_block.png");
		float:left;
		padding:30px 30px 30px 35px;
		
		width:870px;
		background-repeat: repeat-y;
}

	
#bottom_block {
		background-image:url("../images/bottom_block.png");
		background-repeat: no-repeat;
		background-position:bottom center;
		float:left;
		height:10px;
		width:890px;
}

#footer{
		
		background-image:url("../images/bg_block.png");
		background-repeat: repeat-y;
		font-family:Arial;
		font-size:11px;
		float:left;
		padding:0px 0px 10px 25px;
		width:870px;
		
		}
		
#footer .hr1{
		background-color:#c0c0c0;
		color:#FF0000;
		height:1px;
		border:0 none;
		width:840px;
		margin-bottom:5px;
	}
	
#login_combo {
				position:relative;
				background-repeat: no-repeat;
				background-position: 30px 30px; 
				padding: 40px 0px 0px 25px;
				margin-top: 20px;
				height:310px;
}

#login_combo.ok {background-image:url("../images/login_combo.png");}
#login_combo.fail {background-image:url("../images/login_combo_fail.png");}

#forgot_password_combo{
						background-image:url("../images/forget.png");
						position:relative;
						background-repeat: no-repeat;
						background-position: 30px 30px; 
						padding: 40px 0px 0px 25px;
						margin-top: 20px;
						height:150px;
}

#forgot_box{
			margin: 30px 10px 0px 190px;
			color:#000000;
			font-family:"arial";
			font-size: medium;
			font-weight: bold;	
}
#login_combo #errorExplanation{
					color:#ee1226;
					margin: 0px 10px 0px 125px;
}
#errorExplanation{
					color:#ee1226;
					margin: 0px 10px 0px 0px;
}

#errorExplanation li {
						font-family:"arial";
						font-size: 10px;
						font-weight: bold;
						list-style-type:none;
						line-height:15px;
}

#errorExplanation ul {
						padding-left:40px;
						margin: 0px 10px 0px 5px;
}

#notice{
			margin: 0px 10px 0px 165px;
			color:#1409f4;
			font-family:"arial";
			font-size: 10px;
			font-weight: bold;
}

#login_box {
			margin: 20px 10px 0px 190px;
			color:#000000;
			font-family:"arial";
			font-size: medium;
			font-weight: bold;	
}

.button	{
			margin: 5px 10px 20px 85px;
}

.build_button{
				margin: 5px 10px 20px 20px;
}

.create_button	{
					margin: 5px 10px 20px 198px;
}

.forgot_button {
					margin: 5px 10px 20px 356px;
}

.button_submit {
				border-style:none;
				width:102px;height:33px;
				background-image:url("../images/buttons/button.png");
				background-repeat: no-repeat;
				color:#000000;
				font-size: 15px;
				font-weight: bold;	
				border:0px none;
}

.field {
		border:1px solid #88ceef;
		background-color:#fff;
		height: 18px;		
}

.select_field {
				border:1px solid #88ceef;
				background-color:#fff;
				height: 22px;		
}

.login_field {
				width:185px;
}

.name_field {
				width:400px;
}

.ip_field {
				width:30px;
}

.remarks_field {
				width:400px;
				height: 100px;
}

#create_page {
				margin: 20px 10px 0px 20px;
				color:#000000;
				font-family:"arial";
				font-size: medium;
				font-weight: bold;	
}

#create_page_build {
						padding:10px 0px 0px 20px;													
}

a{
		color:#3f7c8e;
		text-decoration: none;
}

a:visited {
			color:#3f7c8e;
			text-decoration: none;
}

a:hover{
		color:#000000;
		text-decoration: none;
}


#bottom_text {
				padding-top: 2px;			
				margin: 0px 5px 0px 5px;	
				text-align:left;
				word-spacing: normal;
				color:#9b9a9a;
				font-size: small;
}

#bottom_text .links{
		margin: 15px 10px 5px 200px;
		color:#000000;
		font-size: 11px;
		
}

hr {
	 border-top: 1px dashed #bfbfbf;
	 background-color: #bfbfbf;
     height: 1px;				
}

thead {
		text-align:center;
		word-spacing: normal;
		color:#000000;
		font-family:"Arial";
		font-size: 12px;
		font-weight: bold;
		background-color: #f2f2f2;	
}

tbody {
		word-spacing: normal;
		color:#000000;
		font-family:"Arial";
		font-size: 12px;
		background-color: #f2f2f2;	
}

.td_check_box{
				text-align:center;
}

#ip_box {
			padding-left:20px; 
			background-color:#ffffff;
}

#dns_block {
			padding-left:20px; 
			background-color:#ffffff;
}

#fieldset {
			height:180px;
			width:373px;
}

.yui-skin-sam .columnCenter{text-align:center;}
.yui-skin-sam .columnCenter div{text-align:center;}
.links_right{float:right;font-size:12px;font-weight:bold;margin:4px 2px 4px 0px;padding-right:10px; text-underline-position: above;	}
.links_right img { vertical-align: middle; }
.logout_right{float:right;font-size:12px;margin:-3px 0px 0px 0px;padding-right:5px; }
.hello{float:left;font-size:14px;font-weight:bold;margin-right:8px; margin-top: 2px;}
.upload{float:left;font-size:14px;font-weight:bold;}

.generate {
	position:absolute;
	text-align: center;
	width:300px; 
	height:160px;
	top:250px;
	left:50%;
	margin-left:-150px;
	background-color:#ffffff;
	border: 1px solid #c0c0c0;
}

.box_file_list {
					position:absolute;
					width:595px; 
					height:auto;
					top:70px;
					left:50%;
					margin-left:-300px;
					background-color:#ffffff;
					border: 3px solid #c0c0c0;
}

.background_box {
					position:absolute;
					width:900px; 
					height:800px;
					top:0px;
					left:50%;
					margin-left:-450px;
					background-color:transparent;
					border: 0px solid #c0c0c0;
}

.table_align {
				width:782px; 
}

.box_size{
			width:100%;
}

